
body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Merriweather', sans-serif;
}

/*Hero Slider*/
.carousel-item {
  position: relative;
  color: white;
}
.carousel-item .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.text-shadow {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

/*Programs Section*/
.hover-shadow:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/*form*/
.form{
  background: var(--bs-body-bg);
}


/*programs*/
.floating-image {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 140px; /* adjust as needed */
  height: 140px;
  z-index: 2;
  border: 8px solid var(--bs-warning-soft); /* white border */
  border-radius: 50%;       /* optional: makes the image circular */
  object-fit: cover;  
}

/**/
.post-header img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}
.post-content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }

@media (max-width: 576px) {
      .post-content {
        margin: 1rem;
        padding: 1rem;
      }
}
