  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold" href="index.html">Opengate University</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="programs.html">Programs</a></li>
          <li class="nav-item"><a class="nav-link" href="admissions.html">Admissions</a></li>
          <li class="nav-item"><a class="nav-link" href="blog.html">News</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle"
                href="#"
                id="themeSwitcher"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                Theme
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeSwitcher">
              <li><a class="dropdown-item theme-select" data-theme="theme-blue"  href="#">Blue</a></li>
              <li><a class="dropdown-item theme-select" data-theme="theme-green" href="#">Green</a></li>
              <li><a class="dropdown-item theme-select" data-theme="theme-red"   href="#">Red</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>